name: LeanAuto CI

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  job0:
    name: LeanAuto CI
    runs-on: ubuntu-22.04
    steps:
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.x'
      - name: Setup Z3
        uses: cda-tum/setup-z3@v1
        with:
          version: 4.12.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout Boogie
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install tools, build Boogie
        run: |
          dotnet tool restore
          dotnet build -warnaserror Source/Boogie.sln
      - name: Setup Lean
        uses: Julian/setup-lean@v1
        with:
          # Lean version will be chosen based on Test/lean-auto/lean-toolchain
          default-toolchain-file: Test/lean-auto/lean-toolchain
      - name: Test Lean generator on textbook examples
        working-directory: Test/lean-auto
        run: |
          lake build
          ./testall.sh
